<% if @product.errors.any? %>
$('#addNewRecord .modal-title').text('<%= t("shared.new", resource: "Product") %>');
$('#addNewRecord .modal-body').html('<%= j render("form") %>');

$('#addNewRecord .form-actions').prepend("<button type='button' class='btn btn-secondary mr-2' data-dismiss='modal' aria-label='Close'>Close</button>");
$('#addNewRecord').modal('show');
<% else %>
$('#addNewRecord').modal('hide');
customNotificator.notice("<%= t('shared.created', resource: @product.class.to_s.humanize) %>");
location.href = "<%= products_path %>"
<% end %>
